.icon {
  width: 256px;
  vertical-align: middle;
}

.top-info {
  border: darkgoldenrod;
}

.portal-button {
  width: 400px;
  height: 400px;
  font-size: 100px;
  background: none;
  background-image: url("./portal.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  opacity: 0.9;
  text-align: center;
}

.portal-button:hover {
  opacity: 1;
}

.upgrade-buttons {
  width: 175px;
  height: 300px;
  padding-bottom: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
